.multi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
/* .slik-arrow.slick-prev,
.slik-arrow.slick-next{
    background-color: rgb(184, 20, 20);
    color: green;
} */
.item_templet{
    width: 80%; 
    margin: 30px;
    display: flex;
    /* height: 40vh; */
}
