.overlay{
    position:absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 1;
    width: 100%;
    height: 100vh;
    /* overflow-y: hidden; */
}
.model{
    position: absolute;
    top: 70px;
    /* width: 60%; */
    /* height: 100vh; */
    /* margin: auto; */
    z-index: 2;
    
}
.content{
    width: 600px;
    /* margin: 20%; */
}