.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(35, 86, 255, 0.767);
}
.logo{
    margin: 8px 11px 10px 250px;
}
.logo p:first-child{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
}
.plus{
   font-style: italic;
   color: white;
   font-size: .8rem;
   margin: 0;
   padding: 0;
}
.plus span:first-child{
    color: rgb(248, 248, 1);
}
.plus img{
    width: 15px;
}
.search_inp input{
    /* padding: 2% 0 2% 0 ; */
    min-width: 700px;
    height: 50px;
    border-radius: 4px;
}
.search_inp img{
    margin-left: -6%;
    /* margin-top: 2%; */
    margin-bottom: 0%;
    /* padding: 1%; */
    height: 30px;
    font-weight: 30px;
    color: blue;
}

.login_btn button{
    border:1px solid rgb(14, 14, 230);
    margin: auto;
    border-radius: 2px;
    background-color: ivory;
    padding: 4px 35px 4px 35px;
    color: blue;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    justify-content: stretch;
}
/* .more{

} */
.cart{
    width: 30%;
}